.balloonTemplate,#bananaTemplate {
    display: none;
    transform-origin: center center;
}
.balloonTemplate {
    transition: translate(-50%, -50%);
}
#bananaTemplate {
    position: absolute;
}
#popTemplate {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    transform-origin: center;
    transform: translate(-22.1%, -49.1%);
    width: 5%;
    opacity: 0.2;
    z-index: -1;
}
#popTemplate > g {
    fill: gray;
}

html, body {
    overflow: hidden;
}

#pick {
    position: absolute;
    bottom:0;
    right:0;
    width: 15%;
}

#throw {
    display: none;
    position: absolute;
    bottom:0;
    right:0;
    width: 15%;
}

.balloon {
    display: block;
    position: absolute;
    height: 3rem;
}
.red {
    fill: rgb(226, 0, 0);
}
.blue {
    fill: rgb(15, 0, 226);
}
.green {
    fill: rgb(72, 226, 0);
}